name: CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_OWNER: ${{ github.repository_owner }}

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push server image
        run: |
          docker build -t $REGISTRY/$IMAGE_OWNER/share-dish-server:latest ./server
          docker push $REGISTRY/$IMAGE_OWNER/share-dish-server:latest

      - name: Build & push client image
        run: |
          docker build -t $REGISTRY/$IMAGE_OWNER/share-dish-client:latest ./client
          docker push $REGISTRY/$IMAGE_OWNER/share-dish-client:latest
